* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: cursive, sans-serif;
	font-weight: bold;
}

body {
	background-color: #000;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	width: 320px;
	height: 420px;
	margin: 75px auto;
}

.info-board {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 40px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin-bottom: 15px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.5rem;
}

.gameboard {
	display: grid;
	width: 300px;
	height: 300px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	font-family: cursive;
}

.playspace {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #fff;
	font-size: 4rem;
	color: #fff;
	cursor: pointer;
}

.new-game-btn {
	width: 300px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.highlight-play {
	background-color: #333;
	color: #ddd;
	transition: ease 0.5s;
}

.not-allowed:hover {
	cursor: not-allowed;
}

@media screen and (max-width: 480px) {
	.container {
		width: 100vw;
		height: auto;
		margin: 0 auto;
	}

	.info-board {
		width: 80%;
	}

	.gameboard {
		width: 80%;
	}

	.playspace {
		font-size: 2rem;
	}

	.new-game-btn {
		width: 80%;
	}
}
